@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}
.stage {
  position: relative;
}

.creature {
  cursor: grab;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
.active {
  text-decoration: underline;
}
